<style>
	container {
		position:relative;
		margin:50px;
		max-width:980px;
	}
	h1 {
		font-size:60px;
		font-style:strong;
		font-family:Thalia,Arial;
		color:red;
		margin-left:50px;
	}
	p {
		text-indent:50px;
		font-family:Arial;
		font-size:15px;
		color:black;
		padding: 10px;
	}
	body {
		background-color: lightblue;
	}
	img {
		border:5px solid #000000;
	}
	#header {
		background-color:black;
		color:white;
		text-align:left;
		font-family:Thalia,Arial;
		padding:5px;
	}
	#nav {
		float:left;
		background-color:white;
		color:black;
		text-align:left;
		padding:5px;
		height:336px;
		width:400px;
	}
	#section {
		position:relative;
		left:400px;
		bottom:346px;
		height:336px;
		width:560px;
		padding:10px;
	}
	#socialmedia {
		position:relative;
		margin-top:-10px;
		margin-bottom:50px;
		padding-bottom:50px;
		padding-top:50px;
		background-color:red;
		text-align: center;
	}
	img.icon {
		border:none;
	}
</style>